.fragment_quote {
	background: #eee;
	padding: 25px;
	border-radius: 10px;
	margin: 25px 0;
}

.quote-mark {
	font-size: 2em;
	display: block;
}

.quote-mark-right {
	text-align: right;
}

.quote-text {
	padding-left: 50px;
	font-style: italic;
}

.quote-author-block {
	margin-top: 20px;
	text-align: right;
}

.quote-author {
	display: inline;
}