.number {
	position: relative;
}

.number .lexicon-icon {
	position: absolute;
	bottom: -5px;
	right: -5px;
	font-size: 6rem;
	color: rgba(255, 255, 255, 0.1);
}

.number h1, .number .lead {
	position: relative;
	z-index: 10;
}